.orders {
  &__summary span,
  &__summary strong:last-child,
  &__discount strong:last-child {
    width: 29%;

    @media (min-width: 767.98px) {
      width: 49%;
    }

    @media (min-width: 991.98px) {
      width: 34%;
    }
  }
}
